# GeoIP.conf — MaxMind geoipupdate 配置文件
# 复制此文件为 /etc/GeoIP.conf 并填入您的 AccountID 和 LicenseKey
# 注册地址: https://www.maxmind.com/en/geolite2/signup

AccountID YOUR_MAXMIND_ACCOUNT_ID
LicenseKey YOUR_MAXMIND_LICENSE_KEY
EditionIDs GeoLite2-City
